body {
	font-family: 'Lato', sans-serif;
	background: linear-gradient(#442755,#D9535E);
}

h1 {
	font-size: 4em;
}

h1 em {
	font-style: normal;
	letter-spacing: 5px;
}

section {
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}