@font-face {
	font-family: 'Bebas';
	src:url(fonts/BebasNeue-Regular.ttf);
}
body {
	font-family: 'Lato';
	background: linear-gradient(#F1F2B5, #135058);
}

h1 {
	font-size: 5em;
	margin:0.5em 0;
}

h1 em {
	font-style: normal;
	letter-spacing: 7px;
}

p {
	font-size: 1.2em;
}

p em {
	font-style: normal;
	font-weight:bold;
	letter-spacing:2px;
}

section {
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}

nav#gradients a {
	padding:20px;
	display:inline-block;
	border:3px solid black;
	background:transparent;
}

nav#gradients a:hover {
	cursor:pointer;
}

nav#gradients a[data-content="purple-red"]:hover {
	background: linear-gradient(#442755,#D9535E);
}

nav#gradients a[data-content="gray-silver"]:hover {
	background: linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%);
}

nav#gradients a[data-content="forest-yellow"]:hover {
	background: linear-gradient(#F1F2B5, #135058);
}

nav#gradients a[data-content="orange-pink"]:hover {
	background: linear-gradient(#FF512F, #DD2476);
}

img.self.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}