body {
}

#home-wrapper {
    background: url('img/cows_background.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:95%;
    height:calc(100% - 50px);
}

nav {
    background:transparent;
}

#mobile-nav {
	background:#0E2582;
}

@media only screen and (max-width:479px) {
    body {
        background:black;
    }
 
    #mobile-nav {
        background:#111;
    }
}